Repository morawskim/webpage2kindle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symfony_pipeline, node_pipeline, caddy_pipeline

.gitlab-ci.yml:

stages:
  - prepare

symfony_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - symfony-app/*
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: symfony-app/.gitlab-ci.yml
    strategy: depend

node_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - node-readability/*
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: node-readability/.gitlab-ci.yml
    strategy: depend

caddy_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - caddy/*
        - symfony-app/*
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: caddy/.gitlab-ci.yml
    strategy: depend

Update dependencies of firefox-extension
  firefox-extension/package-lock.json
  firefox-extension/package.json
Due: none

Update dependencies of node-readability
  node-readability/package-lock.json
Due: node_pipeline

Build firefox extension at version 1.1.1
  firefox-extension/manifest.json
  symfony-app/public/firefox-extension-1.1.1.xpi
  symfony-app/templates/homepage.html.twig
Due: none

Validate data send via firefox extension
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/bundles.php
  symfony-app/config/packages/validator.yaml
  symfony-app/features/webextension.feature
  symfony-app/src/Controller/WebExtensionController.php
  symfony-app/src/Dto/WebExtensionRequest.php
  symfony-app/symfony.lock
  symfony-app/tests/Behat/WebExtensionContext.php
Due: symfony_pipeline, caddy_pipeline

Update xdebug
  symfony-app/Dockerfile
Due: symfony_pipeline, caddy_pipeline

[go-readability-api] Init project
  go-readability-api/.gitignore
  go-readability-api/Dockerfile
  go-readability-api/go.mod
  go-readability-api/go.sum
  go-readability-api/main.go
Due: none

[symfony-app] Integrate w go-readability-api
  docker-compose.yml
  symfony-app/.env
  symfony-app/config/packages/framework.yaml
  symfony-app/config/services.yaml
  symfony-app/src/Job/PageContentFetcher/GoReadabilityApiPageContentFetcher.php
Due: symfony_pipeline, caddy_pipeline

[go-readability-api] Gitlab pipeline
  .gitlab-ci.yml
  go-readability-api/.gitlab-ci.yml
Due: none

[go-readability-api] Enable dependabot
  .github/dependabot.yml
Due: none

[symfony-app] Update dependencies
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

[node-readability] Update sentry packages
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.1.2.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[node-readability] Update sentry packages and jsdom
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.1.3.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Update dependencies
  symfony-app/composer.lock
  symfony-app/config/packages/http_discovery.yaml
  symfony-app/symfony.lock
Due: symfony_pipeline, caddy_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.1.4.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[node-readability] Update packages and docker image
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
Due: none

[symfony-app] Update firefox extension
  symfony-app/public/firefox-extension-1.1.5.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Update to Symfony 6.3
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/packages/doctrine.yaml
  symfony-app/config/packages/doctrine_migrations.yaml
  symfony-app/config/packages/framework.yaml
  symfony-app/config/routes.yaml
  symfony-app/symfony.lock
Due: symfony_pipeline, caddy_pipeline

[symfony-app] Adjust tests to Symfony 6.3
  symfony-app/features/webextension.feature
Due: none

[symfony-app] Migrate to MapRequestPayload
  symfony-app/.env.test
  symfony-app/features/webextension.feature
  symfony-app/src/Controller/WebExtensionController.php
  symfony-app/src/Dto/WebExtensionRequest.php
  symfony-app/tests/Behat/WebExtensionContext.php
Due: symfony_pipeline, caddy_pipeline

[firefox-extension] Send Accept header
  firefox-extension/contentScript.ts
  symfony-app/public/firefox-extension-1.2.0.xpi
  symfony-app/templates/homepage.html.twig
Due: none

gitlab-ci Display value of CI_PIPELINE_SOURCE
  .gitlab-ci.yml
Due: none

[node-readability] Update packages
  node-readability/package-lock.json
Due: node_pipeline

[symfony-app] Update firefox extension
  symfony-app/public/firefox-extension-1.2.1.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[node-readability] Update node
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
Due: node_pipeline

[symfony-app] Update firefox extension
  symfony-app/public/firefox-extension-1.2.2.xpi
  symfony-app/templates/homepage.html.twig
Due: none
