Repository morawskim/webpage2kindle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symfony_pipeline, node_pipeline, caddy_pipeline

.gitlab-ci.yml:

stages:
  - prepare

symfony_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - symfony-app/*
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: symfony-app/.gitlab-ci.yml
    strategy: depend

node_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - node-readability/*
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: node-readability/.gitlab-ci.yml
    strategy: depend

caddy_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - caddy/*
        - symfony-app/*
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: caddy/.gitlab-ci.yml
    strategy: depend

[go-readability] Update docker image
  go-readability-api/Dockerfile
Due: none

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.2.3.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Update packages
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.2.4.xpi
  symfony-app/templates/homepage.html.twig
Due: none

Fix error when body is empty, and we want to create PushToKindle URL
  symfony-app/src/Job/PushToKindlePipelineService.php
Due: none

[symfony-app] Update dependencies
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

[node-readability] Update dependencies
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.2.5.xpi
  symfony-app/templates/homepage.html.twig
Due: none

WebExtension version metric
  firefox-extension/contentScript.ts
  firefox-extension/manifest.json
  firefox-extension/tsconfig.json
  symfony-app/src/Controller/WebExtensionController.php
  symfony-app/src/Job/PrometheusHelper.php
Due: none

gitlab ci/cd - run pipeline also on web event
  .gitlab-ci.yml
Due: none

Build firefox extension 1.3.0
  symfony-app/public/firefox-extension-1.3.0.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Add RateLimiter
  symfony-app/.env
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/packages/framework.yaml
  symfony-app/config/packages/lock.yaml
  symfony-app/src/Infrastructure/Symfony/Event/RateLimiterSubscriber.php
  symfony-app/symfony.lock
Due: symfony_pipeline, caddy_pipeline

Add redis cache
  docker-compose.yml
  symfony-app/.env
  symfony-app/Dockerfile
  symfony-app/config/packages/cache.yaml
  symfony-app/config/packages/framework.yaml
  symfony-app/config/services.yaml
  symfony-app/src/Infrastructure/Prometheus/RedisAdapterFactory.php
Due: symfony_pipeline, caddy_pipeline

Adjust rate limiter configuration
  symfony-app/config/packages/framework.yaml
  symfony-app/src/Infrastructure/Symfony/Event/RateLimiterSubscriber.php
Due: none

[node-readability] Update packages
  node-readability/package-lock.json
Due: node_pipeline

Update docker golang image version, remove binary from image
  go-readability-api/Dockerfile
  symfony-app/Dockerfile
Due: symfony_pipeline, caddy_pipeline

[symfony-app] Migrate to frankenphp
  docker-compose.yml
  symfony-app/Dockerfile
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/docker-compose.yml
Due: symfony_pipeline, caddy_pipeline

[caddy] Remove caddy
  .gitlab-ci.yml
  caddy/.gitignore
  caddy/.gitlab-ci.yml
  caddy/Caddyfile
  caddy/Dockerfile
  docker-compose.yml
Due: caddy_pipeline

[go-readability] Migrate to latest image
  go-readability-api/Dockerfile
Due: none

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.3.1.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Use async processing
  docker-compose.yml
  symfony-app/config/packages/old_sound_rabbit_mq.yaml
  symfony-app/src/Controller/IndexController.php
  symfony-app/src/Job/Domain/Job.php
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Class to encrypt data
  symfony-app/src/Service/Encrypter.php
Due: none

[symfony-app] Install request-id bundle
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/bundles.php
  symfony-app/config/packages/request_id.yaml
  symfony-app/symfony.lock
Due: symfony_pipeline, caddy_pipeline

[symfony-app] Send rabbitmq msg with RequestId header
  symfony-app/config/packages/old_sound_rabbit_mq.yaml
  symfony-app/src/Infrastructure/RabbitMq/ProducerRequestIdStamp.php
  symfony-app/src/Infrastructure/Symfony/DependencyInjection/RabbitMqRequestIdProducerPass.php
  symfony-app/src/Kernel.php
Due: none

[symfony-app] Encrypt payload send to RabbitMq
  symfony-app/config/services.yaml
  symfony-app/src/Consumer/CreatePushToKindleUrlConsumer.php
  symfony-app/src/Consumer/FetchPageContentConsumer.php
  symfony-app/src/Consumer/NewJobConsumer.php
  symfony-app/src/Infrastructure/Symfony/Serializer/EncrypterSerializerDecorator.php
  symfony-app/src/Web/Infrastructure/Producer/RabbitMq/FetchPageContentProducer.php
  symfony-app/src/Web/Infrastructure/Producer/RabbitMq/NewJobProducer.php
  symfony-app/src/Web/Infrastructure/Producer/RabbitMq/PushToKindleProducer.php
Due: none

[symfony-app] Adjust behat tests
  symfony-app/config/services.yaml
  symfony-app/config/services_test.yaml
  symfony-app/features/homepage.feature
  symfony-app/src/Controller/IndexController.php
  symfony-app/src/Infrastructure/RabbitMq/InMemoryProducer.php
  symfony-app/src/Job/Domain/InMemoryJobProvider.php
  symfony-app/src/Job/Domain/JobProviderInterface.php
  symfony-app/src/Job/Domain/JobRepository.php
  symfony-app/src/Web/Infrastructure/Producer/RabbitMq/NewJobProducer.php
  symfony-app/tests/Behat/HomepageContext.php
Due: none

[firefox-extension] Stop to send notification when url has been successfully created
  firefox-extension/background.ts
  firefox-extension/contentScript.ts
Due: none

[symfony-app] Remove unused consumers from configuration
  symfony-app/config/packages/old_sound_rabbit_mq.yaml
Due: none

[symfony-app] Catch exception when page is not readable (when using go microservice)
  symfony-app/src/Job/PageContentFetcher/GoReadabilityApiPageContentFetcher.php
Due: none

[symfony-app] Fix TypeError at PastePadUrlGenerator::createUrl
  symfony-app/src/Consumer/CreatePushToKindleUrlConsumer.php
  symfony-app/src/Job/Exception/CannotCreatePastePadUrlException.php
  symfony-app/src/Job/PushToKindlePipelineService.php
  symfony-app/src/Job/PushToKindleUrlGenerator/PastePadUrlGenerator.php
  symfony-app/src/Job/PushToKindleUrlGenerator/PushToKindleUrlGeneratorInterface.php
Due: none

[symfony-app] Set timeout for PastePad HttpClient
  symfony-app/config/packages/framework.yaml
Due: none

[firefox-extension] Extension options
  firefox-extension/background.ts
  firefox-extension/contentScript.ts
  firefox-extension/manifest.json
  firefox-extension/options.html
  firefox-extension/options.js
  firefox-extension/web-ext-config.js
  firefox-extension/webpack-web-extension.config.mjs
  firefox-extension/webpack.config.js
  symfony-app/public/firefox-extension-1.4.0.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Install flagception bundle (feature flags)
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/bundles.php
  symfony-app/config/packages/flagception.yaml
  symfony-app/symfony.lock
Due: symfony_pipeline, caddy_pipeline

[symfony-app] Feature flag to enable synchronous mode
  symfony-app/.env
  symfony-app/config/packages/flagception.yaml
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline, caddy_pipeline
