Repository morawskim/webpage2kindle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symfony_pipeline, node_pipeline, goreadability_pipeline

.gitlab-ci.yml:

stages:
  - prepare

display_pipeline_source:
  stage: prepare
  script:
    - echo CI_PIPELINE_SOURCE "'$CI_PIPELINE_SOURCE'"

symfony_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - symfony-app/**/*
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: symfony-app/.gitlab-ci.yml
    strategy: depend

node_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - node-readability/**/*
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: node-readability/.gitlab-ci.yml
    strategy: depend

goreadability_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - go-readability-api/**/*
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: go-readability-api/.gitlab-ci.yml
    strategy: depend

downgrade php-amqplib/php-amqpli and php-amqplib/rabbitmq-bundle
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

[symfony-app] When SIGALARM is triggered, symfony terminate application
  symfony-app/src/Infrastructure/Symfony/Event/RabbitMqConsoleAlarmListener.php
Due: symfony_pipeline

[firefox-extension] Change file extension to cjs
  firefox-extension/web-ext-config.cjs
Due: none

[symfony-app] update packages
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/symfony.lock
Due: symfony_pipeline

[web-extension] Run with Chromium web browser
  firefox-extension/package.json
  symfony-app/config/packages/nelmio_cors.yaml
Due: symfony_pipeline

[symfony-app] Install opentelemetry extension, ,update xdebug
  symfony-app/Dockerfile
Due: symfony_pipeline

[symfony-app] Configure traces for OpenTelemetry
  docker-compose.yml
  otel-collector-config.yaml
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/src/Infrastructure/Symfony/TraceableConsoleEventSubscriber.php
Due: symfony_pipeline

[symfony-app] Configure sentry logs
  symfony-app/config/packages/sentry.yaml
Due: symfony_pipeline

[go-readability-api] OpenTelemetry
  go-readability-api/go.mod
  go-readability-api/go.sum
  go-readability-api/main.go
Due: goreadability_pipeline

Update composer packages
  symfony-app/composer.lock
Due: symfony_pipeline

[node-readability] Remove inline CSS styles and links to external CSS files from body
  node-readability/__tests__/removeCssInlineAndExternalLinks.ts
  node-readability/helpers.ts
  node-readability/jest.config.js
  node-readability/microservice.ts
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[symfony-app] prevent storing a lot of unique entries in prometheus
  symfony-app/src/Web/Infrastructure/Symfony/EventSubscriber/PerformanceSubscriber.php
Due: symfony_pipeline

[symfony-app] Update symfony to 7.4
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

Fix TypeScript build error
  node-readability/__tests__/removeCssInlineAndExternalLinks.ts
  node-readability/microservice.ts
  node-readability/tsconfig.json
Due: node_pipeline

[firefox-extension] TS2591: Cannot find name 'process'
  firefox-extension/package-lock.json
  firefox-extension/package.json
  firefox-extension/tsconfig.json
Due: none

[node-readability] Add request logging with Morgan (apache combined access logs)
  node-readability/microservice.ts
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[symfony-app] opentelemetry for PDO
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/src/Web/Infrastructure/Symfony/EventSubscriber/OpenTelemetrySubscriber.php
Due: symfony_pipeline

[firefox-extension] decouple initialization from article processing
  firefox-extension/Makefile
  firefox-extension/background.ts
  firefox-extension/contentScript.ts
  firefox-extension/manifest.json
  firefox-extension/package.json
Due: none

[symfony-app] Update frankenphp
  docker-compose.yml
  symfony-app/Caddyfile
  symfony-app/Dockerfile
  symfony-app/src/Command/TestSseCommand.php
  symfony-app/src/Infrastructure/SSE/SymfonyMercurePublisher.php
Due: symfony_pipeline

[symfony-app] Fix phpstan error missingType.iterableValue
  symfony-app/src/Command/TestSseCommand.php
Due: symfony_pipeline

[symfony-app] Enable metrics and traces for FrankenPHP
  docker-compose.yml
  symfony-app/Caddyfile
Due: symfony_pipeline

[firefox-extension] Fix tab lookup by ignoring URL hash
  firefox-extension/background.ts
  firefox-extension/contentScript.ts
Due: none

[firefox-extension] Test WebExtension via puppeteer
  firefox-extension/.gitignore
  firefox-extension/e2e/test-web-extension.mjs
  firefox-extension/package-lock.json
  firefox-extension/package.json
Due: none

[skip ci] prepare ci pipeline for firefox-extension
  .gitlab-ci.yml
  firefox-extension/.gitlab-ci.yml
  firefox-extension/e2e/test-web-extension.mjs
Due: none

[firefox-extension] pipeline to test web extension
  .gitlab-ci.yml
  firefox-extension/.gitlab-ci.yml
  firefox-extension/e2e/test-web-extension.mjs
Due: none

[firefox-extension] Migrate to swc-loader for TypeScript compilation
  firefox-extension/package-lock.json
  firefox-extension/package.json
  firefox-extension/webpack-web-extension.config.mjs
  firefox-extension/webpack.config.js
Due: none

Add skill firefox-extension-update
  .agents/skills/firefox-extension-update/SKILL.md
Due: none

[firefox-extension] Update firefox extension to version 1.7.0
  firefox-extension/manifest.json
  symfony-app/public/firefox-extension-1.7.0.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

junie & bump firefox extension version skill
  Makefile
Due: none

[symfony-app] Temporary solution to fix deprecation error
  symfony-app/config/packages/request_id.yaml
  symfony-app/src/Service/RequestIdGenerator.php
Due: symfony_pipeline

[symfony-app] Update dependencies
  symfony-app/composer.lock
Due: symfony_pipeline

[firefox-extension] Update dependencies
  firefox-extension/package-lock.json
Due: none

[node-readability] Update dependencies
  node-readability/package-lock.json
Due: node_pipeline

[symfony-app] Fix deprecation error
  symfony-app/src/Web/Infrastructure/Symfony/Serializer/JobIdNormalizer.php
Due: symfony_pipeline

[symfony-app] debug pipeline + fix phpstan errors
  symfony-app/.gitlab-ci.yml
  symfony-app/src/Service/RequestIdGenerator.php
  symfony-app/src/Web/Infrastructure/Symfony/Serializer/JobIdNormalizer.php
Due: symfony_pipeline

[symfony-app] update php image to 8.5 in pipeline
  symfony-app/.gitlab-ci.yml
Due: symfony_pipeline

[firefox-extension] Fix build
  firefox-extension/.gitlab-ci.yml
Due: none
