Repository morawskim/webpage2kindle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symfony_pipeline, node_pipeline, goreadability_pipeline

.gitlab-ci.yml:

stages:
  - prepare

display_pipeline_source:
  stage: prepare
  script:
    - echo CI_PIPELINE_SOURCE "'$CI_PIPELINE_SOURCE'"

symfony_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - symfony-app/**/*
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: symfony-app/.gitlab-ci.yml
    strategy: depend

node_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - node-readability/**/*
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: node-readability/.gitlab-ci.yml
    strategy: depend

goreadability_pipeline:
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - go-readability-api/**/*
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web"
      when: manual
      allow_failure: true
  trigger:
    include:
      - local: go-readability-api/.gitlab-ci.yml
    strategy: depend

[node-readability] Update packages
  node-readability/package-lock.json
Due: node_pipeline

[symfony-app] Update dependencies
  symfony-app/composer.lock
Due: symfony_pipeline

[node-readability] Update packages
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[node-readability] Update node images
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
Due: node_pipeline

[go-readability-api] Update external dependencies
  go-readability-api/go.mod
  go-readability-api/go.sum
Due: goreadability_pipeline

[node-readability] Update packages and node version
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.4.9.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

Update to Symfony 7
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/src/Command/CreateEventStoreCommand.php
  symfony-app/src/Web/Infrastructure/Symfony/Serializer/JobIdNormalizer.php
  symfony-app/symfony.lock
Due: symfony_pipeline

Sentry ignore HTTP client exceptions (4xx)
  symfony-app/config/packages/sentry.yaml
  symfony-app/src/Infrastructure/Sentry/IgnoreHttpClientExceptionsIntegration.php
Due: symfony_pipeline

Rabbitmq - enable heartbeat
  symfony-app/config/packages/old_sound_rabbit_mq.yaml
Due: symfony_pipeline

Install php-amqplib/rabbitmq-bundle from fork
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

Fix phpstan errors
  symfony-app/src/Web/Infrastructure/Symfony/Serializer/JobIdNormalizer.php
Due: symfony_pipeline

[node-readability] Update packages and node version
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  firefox-extension/package.json
  symfony-app/public/firefox-extension-1.4.10.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

[symfony-app] Update dependencies
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/symfony.lock
Due: symfony_pipeline

[node-readability] Update packages & docker image
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[firefox-extension] Fetch external JSON config to use particular selector for domain
  firefox-extension/contentScript.ts
  firefox-extension/manifest.json
  firefox-extension/options.html
  firefox-extension/options.js
  symfony-app/public/firefox-extension-1.5.0.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

Display status of the job on redirection page
  symfony-app/src/Controller/IndexController.php
  symfony-app/templates/redirect.html.twig
Due: symfony_pipeline

Stop use fork of friends-of-behat/symfony-extension
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

Stop use fork of php-amqplib/rabbitmq-bundle
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

[symfony-app] Install pcntl extension
  symfony-app/Dockerfile
Due: symfony_pipeline

[symfony-app] Command to check connection to rabbitmq
  symfony-app/src/Command/CheckRabbitMqConnectionCommand.php
Due: symfony_pipeline

[symfony-app] Catch AMQPIOException
  symfony-app/src/Command/CheckRabbitMqConnectionCommand.php
Due: symfony_pipeline

Debug rabbitmq
  symfony-app/config/services.yaml
  symfony-app/src/Infrastructure/RabbitMq/ConnectionFactory.php
  symfony-app/src/Infrastructure/RabbitMq/DebugAMQPStreamConnection.php
  symfony-app/src/Infrastructure/RabbitMq/DebugStreamIO.php
Due: symfony_pipeline

Close connection to RabbitMQ
  symfony-app/src/Infrastructure/Symfony/Event/CloseRabbitMqConnectionSubscriber.php
Due: symfony_pipeline

Stop send sentry samples from CLI commands
  symfony-app/src/Service/SentrySampleRateRule.php
Due: symfony_pipeline

Register PCNTLHeartbeatSender
  symfony-app/src/Infrastructure/RabbitMq/ConnectionFactory.php
Due: symfony_pipeline

[symfony-app] Update dependencies
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.5.1.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline
