Repository morawskim/webpage2kindle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symfony_pipeline, node_pipeline, goreadability_pipeline

symfony_pipeline:
  stage: prepare
  trigger:
    include:
    - local: symfony-app/.gitlab-ci.yml
    strategy: depend

node_pipeline:
  stage: prepare
  trigger:
    include:
    - local: node-readability/.gitlab-ci.yml
    strategy: depend

goreadability_pipeline:
  stage: prepare
  trigger:
    include:
    - local: go-readability-api/.gitlab-ci.yml
    strategy: depend

[node-readability] Update packages
  node-readability/package-lock.json
Due: node_pipeline

[symfony-app] Remove code to debugging issues with RabbitMq and FrankenPHP
  symfony-app/config/services.yaml
  symfony-app/src/Infrastructure/RabbitMq/ConnectionFactory.php
  symfony-app/src/Infrastructure/RabbitMq/DebugAMQPStreamConnection.php
  symfony-app/src/Infrastructure/RabbitMq/DebugStreamIO.php
Due: symfony_pipeline

[symfony-app] Publish metrics about processing time of messages
  symfony-app/behat.yml.dist
  symfony-app/features/messageProcessingTime.feature
  symfony-app/src/Infrastructure/RabbitMq/MessageProcessingTimeSubscriber.php
  symfony-app/src/Job/PrometheusHelper.php
  symfony-app/tests/Behat/MessageProcessingTimeContext.php
Due: symfony_pipeline

[symfony-app] Fix phpstan issues
  symfony-app/src/Infrastructure/RabbitMq/ConnectionFactory.php
  symfony-app/src/Infrastructure/RabbitMq/MessageProcessingTimeSubscriber.php
  symfony-app/src/Job/PrometheusHelper.php
Due: symfony_pipeline

[symfony-app] Update dependencies
  symfony-app/composer.lock
Due: symfony_pipeline

Adjust configuration for the dependabot
  .github/dependabot.yml
Due: none

Build firefox extension 1.5.2
  firefox-extension/manifest.json
  symfony-app/public/firefox-extension-1.5.2.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

Switch to official version of the broadway/broadway-bundle after merge PR with support for Symfony 7
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

Build firefox extension 1.5.3
  firefox-extension/manifest.json
  symfony-app/public/firefox-extension-1.5.3.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

[node-readability] Adjust code to Sentry 8
  docker-compose.yml
  node-readability/Dockerfile
  node-readability/instrument.mjs
  node-readability/microservice.ts
Due: node_pipeline

Build firefox extension 1.5.4
  firefox-extension/manifest.json
  symfony-app/public/firefox-extension-1.5.4.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline

[symfony-app] Update dependencies
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

[symfony-app] Update lcobucci/jwt to ^5.3
  docker-compose.yml
  symfony-app/.gitlab-ci.yml
  symfony-app/Caddyfile
  symfony-app/Dockerfile
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline

[symfony-app] the image thecodingmachine/php:8.2 has sodium extension
  symfony-app/.gitlab-ci.yml
Due: symfony_pipeline

README and LICENSE
  LICENSE
  README.md
Due: none

New version of web extension
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  firefox-extension/package.json
  node-readability/package-lock.json
  symfony-app/public/firefox-extension-1.5.5.xpi
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline, node_pipeline

[go-readability-api] Update dependencies
  go-readability-api/go.mod
  go-readability-api/go.sum
Due: goreadability_pipeline

Update PHP dependencies
  symfony-app/composer.lock
Due: symfony_pipeline

Update to dbal4
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/src/Command/CreateEventStoreCommand.php
  symfony-app/src/Job/DbalGetNewestJobs.php
Due: symfony_pipeline

[node-readability] Migrate to tsx
  docker-compose.yml
  node-readability/package.json
  node-readability/request.http
Due: node_pipeline

Fix phpstan error
  symfony-app/src/Command/CheckRabbitMqConnectionCommand.php
  symfony-app/src/Infrastructure/RabbitMq/ProducerRequestIdStamp.php
  symfony-app/src/Infrastructure/phpstan/stub/RabbitMqBundle.stub
  symfony-app/src/Web/Infrastructure/Symfony/Serializer/JobIdNormalizer.php
Due: symfony_pipeline

Fix typescript errors
  firefox-extension/background.ts
  firefox-extension/contentScript.ts
  firefox-extension/manifest.json
Due: none

Update hwi/oauth-bundle
  symfony-app/composer.lock
Due: symfony_pipeline

Caddy - support localhost and 127.0.0.1
  docker-compose.yml
  symfony-app/Caddyfile
Due: symfony_pipeline

[symfony-app] Install nelmio/cors-bundle
  .gitignore
  docker-compose.yml
  firefox-extension/Makefile
  symfony-app/.env
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/bundles.php
  symfony-app/config/packages/nelmio_cors.yaml
  symfony-app/symfony.lock
Due: symfony_pipeline

[go-readability-api] Update dependencies and golang version
  go-readability-api/go.mod
  go-readability-api/go.sum
Due: goreadability_pipeline

[symfony-app] fix phpstan error
  symfony-app/src/Job/Domain/JobRepository.php
Due: symfony_pipeline

[node-readability] fix typesciprt error TS18049:
  node-readability/microservice.ts
Due: node_pipeline

rabbitmq timeouts
  symfony-app/config/packages/old_sound_rabbit_mq.yaml
Due: symfony_pipeline

Path conditions:
  symfony_pipeline: any of: symfony-app/**/*
  node_pipeline: any of: node-readability/**/*
  goreadability_pipeline: any of: go-readability-api/**/*
