Repository morawskim/webpage2kindle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symfony_pipeline, node_pipeline, caddy_pipeline

symfony_pipeline:
  stage: prepare
  trigger:
    include:
    - local: symfony-app/.gitlab-ci.yml
    strategy: depend

node_pipeline:
  stage: prepare
  trigger:
    include:
    - local: node-readability/.gitlab-ci.yml
    strategy: depend

caddy_pipeline:
  stage: prepare
  trigger:
    include:
    - local: caddy/.gitlab-ci.yml
    strategy: depend

[symfony-app] Update dependencies
  symfony-app/.gitlab-ci.yml
  symfony-app/Dockerfile
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

[node-readability] Update dependencies
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/README.md
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
Due: none

Update the firefox extension file to 1.0.9
  symfony-app/public/firefox-extension-1.0.9.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Fix access to property which is not initialized
  symfony-app/src/Web/Infrastructure/Symfony/EventSubscriber/PerformanceSubscriber.php
Due: none

[symfony-app] Increase privacy by protecting a one URL
  symfony-app/.env
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/bundles.php
  symfony-app/config/packages/security.yaml
  symfony-app/config/services.yaml
  symfony-app/symfony.lock
Due: symfony_pipeline, caddy_pipeline

[symfony-app] Add link to return to homepage
  symfony-app/templates/newest.html.twig
Due: none

Adjust configuration of dependabot
  .github/dependabot.yml
Due: none

[symfony-app] Improve assertion messages in behat tests.
  symfony-app/tests/Behat/HomepageContext.php
Due: none

[symfony-app] Add listener to Exception event
  symfony-app/src/Web/Infrastructure/Symfony/EventSubscriber/PerformanceSubscriber.php
Due: none

[symfony-app] Sentry ignore 403 and 404 HTTP errors
  symfony-app/config/packages/sentry.yaml
Due: none

[symfony-app] Update dependencies
  symfony-app/composer.json
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

[node-readability] Update dependencies
  node-readability/package-lock.json
  node-readability/package.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/package-lock.json
Due: none

Update base images
  node-readability/Dockerfile
  node-readability/Dockerfile-dev
  symfony-app/Dockerfile
Due: symfony_pipeline, node_pipeline, caddy_pipeline

Update firefox-extension
  firefox-extension/manifest.json
  symfony-app/public/firefox-extension-1.0.10.xpi
  symfony-app/templates/homepage.html.twig
Due: none

Update rules of child pipelines
  .gitlab-ci.yml
Due: none

Update docker node image to 19.6
  node-readability/Dockerfile
Due: node_pipeline

[node-readability] Update sentry packages
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Function to convert external img to dataurl
  firefox-extension/contentScript.ts
Due: none

[symfony-app] Update dependencies
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

[node-readability] Update sentry packages and jsdom
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update webpack, publish a new version
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1.0.11.xpi
  symfony-app/templates/homepage.html.twig
Due: none

[symfony-app] Integrate with Auth0 to authenticate users
  symfony-app/.env
  symfony-app/composer.json
  symfony-app/composer.lock
  symfony-app/config/bundles.php
  symfony-app/config/packages/hwi_oauth.yaml
  symfony-app/config/packages/security.yaml
  symfony-app/config/routes/app.yaml
  symfony-app/config/routes/hwi_oauth_routing.yaml
  symfony-app/symfony.lock
  symfony-app/templates/homepage.html.twig
Due: symfony_pipeline, caddy_pipeline

Caddy trust proxy server
  caddy/Caddyfile
  symfony-app/public/index.php
Due: caddy_pipeline

Symfony trust proxy server
  symfony-app/config/packages/framework.yaml
Due: none

[symfony-app] Disable registering Sentry ErrorHandler
  symfony-app/config/packages/sentry.yaml
  symfony-app/public/index.php
Due: none

[symfony-app] Refactor PerformanceSubscriber
  symfony-app/src/Web/Infrastructure/Symfony/EventSubscriber/PerformanceSubscriber.php
Due: none

[node-readability] Update packages
  node-readability/package-lock.json
Due: node_pipeline

[firefox-extension] Update dependencies
  firefox-extension/manifest.json
  firefox-extension/package-lock.json
  symfony-app/public/firefox-extension-1-1.0.12.xpi
  symfony-app/templates/homepage.html.twig
Due: none

Send page title and prepend readable content with page content.
  firefox-extension/contentScript.ts
  firefox-extension/manifest.json
  node-readability/microservice.ts
  symfony-app/src/Controller/WebExtensionController.php
  symfony-app/src/Job/Command/CreateJobToProcessWebPageContentCommand.php
  symfony-app/src/Job/Domain/Job.php
  symfony-app/src/Job/Event/JobToProcessWebPageWasCreated.php
  symfony-app/src/Job/JobCommandHandler.php
  symfony-app/src/Job/JobUtils.php
  symfony-app/src/Job/PushToKindlePipelineService.php
  symfony-app/src/Job/ReadablePageContent/CreateReadablePageContentInterface.php
  symfony-app/src/Job/ReadablePageContent/NodeMicroserviceCreateReadablePageContent.php
  symfony-app/src/Job/ReadablePageContent/PrometheusMetricDecorator.php
  symfony-app/src/Job/ReadablePageContent/StaticReadablePageContent.php
  symfony-app/src/Service/SynchronousPushToKindleFacade.php
Due: node_pipeline

Fix behat tests
  symfony-app/features/webextension.feature
  symfony-app/public/firefox-extension-1.0.12.xpi
Due: none

Update firefox extension
  symfony-app/public/firefox-extension-1.1.0.xpi
  symfony-app/templates/homepage.html.twig
Due: none

Update symfony-app dependencies
  symfony-app/composer.lock
Due: symfony_pipeline, caddy_pipeline

Path conditions:
  symfony_pipeline: any of: symfony-app/*
  node_pipeline: any of: node-readability/*
  caddy_pipeline: any of: caddy/*, symfony-app/*
